* {
border-style: solid;
border-color: red;
border-width: 1px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#wrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.book {
border-style: solid;
border-color: blue;
border-width: 1px;
}

.subtitle {
font-weight: normal;
}

.bookPages {
font-style: italic;
}

.parent {
background-color: blueviolet;
}
